body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #ffffff;
  }

.header {
    background-image: url('../images/board.jpeg');
    background-position: center center;
    background-size: cover;
    height: 500px;
    position: relative;
    z-index: 1;
}

.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
}

.container {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #fff;
    position: relative;
    margin-top: -60px;
    z-index: 2;
}

.container h2{
    color: black;
    font-size: 38px;
    text-align: center;
}

.row {
    padding: 30px 0 20px 0;
    width: 100%;
}

.btn-outline-secondary {
  height: calc(1.5em + 0.75rem + 2px); /* 입력 필드와 동일한 높이로 설정 */
  vertical-align: top; /* 상단 정렬 */
}

.table-hover {
    text-align: center;
    vertical-align: middle;
}

.table-hover thead th {
    border-bottom: 2px solid #dee2e6;
}