body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #ffffff;
  }

.header {
    background-image: url('../images/board.gif');
    background-position: center center;
    background-size: cover;
    height: 500px;
    position: relative;
    z-index: 1;
}

.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
}

.container {
    padding: 60px 100px;
    width: 100%;
    background-color: #fff;
    position: relative;
    margin-top: -100px;
    z-index: 2;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 60px 60px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

.container h2{
    color: black;
    font-size: 38px;
    text-align: center;
}

.container h2 a{
    color: black;
    font-size: 38px;
    text-align: center;
    padding-bottom: 30px;
}

.row {
    padding: 30px 0 20px 0;
    width: 100%;
}

.btn-outline-secondary {
  height: calc(1.5em + 0.75rem + 2px);
  vertical-align: top;
}

.table{
	text-align: left;
}

.table thead th {
    border-bottom: 2px solid #dee2e6;
}

.table-hover {
    text-align: center;
    vertical-align: middle;
}

.table-hover thead th {
    border-bottom: 2px solid #dee2e6;
}

.button-style{
	padding-bottom: 80px;
	text-align: right;
}
