@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-WYiFV0Uw.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-4I-FV0Uw.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  transition: 0.5s;
}
body {
  background: #FBFBFB;
  color: #45494e;
  font-family: "Rubik", "Montserrat", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 7.5px;
  width: 100%;
}
h1 {
  position: relative;
  margin: 45px 15px 30px;
  width: 300px;
}
h1:after {
  content: "";
  background: linear-gradient(to right, #f2ebe5 10%, #f2ebe5 20%, #5E4543 20%, #5E4543 30%, #DEE0BC 30%, #DEE0BC 45%, #BFA67A 45%, #BFA67A 55%, transparent 55%, transparent 100%);
  position: absolute;
  bottom: -5px;
  left: -3px;
  height: 3px;
  width: 100%;
}
.blah-blah {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
}
#albums {
  list-style: none;
  display: grid;  grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
  grid-template-rows: repeat(3, minmax(300px, auto));
  grid-gap: 30px 45px;
  padding: 15px;
  margin: 4.5em 4.5em;
  max-width: 450px;
}
#albums > li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
  overflow: hidden;
  width: 100%; /* 기존에는 100%이었는데 필요에 따라 조절 가능 */
  height: 80%; /* 기존에는 200px이었는데 필요에 따라 조절 가능 */
}
#albums > li:hover {
  cursor: pointer;
}
#albums > li:focus {
  outline: none;
}
#albums > li:after {
  content: "";
  border: 3px solid transparent;
  border-radius: 1px;
  position: absolute;
  top: 0;
  right: 0;
  left: 50px;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
#albums > li.full:after {
  background-color: #f2ebe5;
}
#albums > li.full:focus:after {
  border: 3px solid #5E4543;
}
#albums > li.full .spotify-link {
  color: #f2ebe5;
  border-color: #f2ebe5;
}

#albums > li.mini:after {
  background-color: #DEE0BC;
}
#albums > li.mini:focus:after {
  border: 3px solid #BFA67A;
}
#albums > li.mini .spotify-link {
  color: #DEE0BC;
  border-color: #DEE0BC;
}

#albums > li.repackage:after {
  background-color: #5E4543;
}
#albums > li.repackage:focus:after {
  border: 3px solid #DEE0BC;
}

#albums > li.repackage h2 {
  color: rgb(218, 218, 218);
}

#albums > li.single:after {
  background-color: #BFA67A;
}

#albums > li.repackage h2 {
  color: rgb(218, 218, 218);
}

#albums > li.single:focus:after {
  border: 3px solid #f2ebe5;
}

#albums > li figure {
  margin: 0;
  cursor: pointer;
  pointer-events: none; /* 드래그를 막음 */
}

#albums > li figure::after {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto; /* 클릭할 수 있게 함 */
}
#albums > li h2 {
  display: inline-block;
  margin-bottom: 30px;
  padding-left: 65px;
  width: 90%;
}
#albums > li img {
  box-shadow: -1px -1px 4px 0 rgba(102, 102, 102, 0.15);
  border: 2px solid #FBFBFB;
  border-radius: 1px;
  margin-top: 50px;
  width: 80%;
}
#albums > li .release-year {
  display: block;
  font-size: 0.85em;
  font-weight: 300;
}
#albums > li .spotify-link {
  background: #fcfcfc;
  border-radius: 3px;
  border: 2px solid transparent;
  display: inline-block;
  font-weight: bold;
  font-size: 0.9em;
  margin-top: 5px;
  padding: 10px;
  text-decoration: none;
}
#albums > li .spotify-link:focus {
  outline: none;
}
#albums > li .more-info {
  display: block;
  margin: 0 50px;
  padding: 0;
  max-height: 0;
  overflow: hidden;
}
#albums > li .more-info .songs {
  padding: 0;
  word-break: break-word;
}
#albums > li .more-info .songs::-webkit-scrollbar {
  background: #fcfcfc;
  width: 0.5em;
}
#albums > li .more-info .songs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(170, 170, 170, 0.3);
}
#albums > li .more-info .songs::-webkit-scrollbar-thumb {
  background-color: #aaa;
  outline: 1px solid #aaa;
}
#albums > li .more-info .songs.scrollable {
  margin-bottom: 15px;
  height: 220px;
  overflow-y: scroll;
}
#albums > li .more-info .songs li {
  margin-bottom: 5px;
}
#albums > li.expanded img {
  width: 45%;
}
#albums > li.expanded h2 {
  margin-bottom: 15px;
  padding: 0;
  width: 70%;
}
#albums > li.expanded .more-info {
  max-height: 1000px;
  padding: 0 15px;
}
#albums > li.expanded .more-info .songs {
  padding: 5px;
  padding-left: 26.25px;
}
#albums > li.expanded .more-info .spotify-link {
  margin-bottom: 45px;
}
#albums > li.expanded:after {
  bottom: 45px;
}
@media (min-width: 600px) {
  #albums {
    grid-template-columns: 500px 500px;
    grid-gap: 15px;
    max-width: 1000px;
  }
  #albums > li:after {
    bottom: 15px;
  }
  #albums > li:nth-child(even) {
    margin-top: 100px;
  }
  #albums > li:nth-child(odd) {
    margin-bottom: 100px;
  }
  #albums > li.expanded h2 {
    margin-bottom: 90px;
    min-height: 100px;
    width: 47.5%;
  }
  #albums > li.expanded .more-info {
    right: 15px;
    margin: 0;
    padding: 0;
  }
  #albums > li .more-info {
    position: absolute;
    top: 55px;
    right: -300px;
    width: 47.5%;
    max-width: 240px;
  }
  #albums > li .more-info .songs.scrollable {
    height: 250px;
  }
}
@media (min-width: 900px) {
  #albums {
    grid-gap: 15px 40em;
  }
  #albums > li:nth-child(even) {
    margin-top: 150px;
  }
  #albums > li:nth-child(odd) {
    margin-bottom: 150px;
  }
  #albums > li img {
    width: 70%;
  }
  #albums > li .more-info .songs.scrollable {
    height: 260px;
  }
  #albums > li.expanded h2 {
    margin-bottom: 75px;
  }
}